@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Archivo, sans-serif;
  background-color: #fff;
  color: #000;
}

p {
  font-size: 14px;
}

/* sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0d58b2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.header-sidebar {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.sidebar a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #d0d2d3;
}

.sidebar .closeBtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

/* header */
header {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}

.img-header {
  width: 220px;
}

.lang {
  text-align: right;
}

.lang a {
  text-decoration: none;
  padding-left: 15px;
}

.auth a {
  text-decoration: none;
  padding-left: 25px;
}

/* content */
.content {
  display: flex;
  width: 100%;
  height: 50vh;
  margin: 70px auto;
  padding: 40px;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .content {display: grid;}
}

select {
  width: 160px;
  height: 34px;
  border-radius: 0;
  padding: 6px;
}

input {
  width: 350px;
  height: 34px;
  border-radius: 0;
  padding: 6px;
}

.advance-search {
  text-decoration: none;
  text-align: right;
}

/* footer */
footer {
  width: 100%;
  background-color: #d0d2d3;
  display: flex;
  margin: auto;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}

.footer-left p {
  width: 50%;
}

.footer-right {
  width: 75%;
}

.footer-right-content {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  font-size: 14px;
}

.img-footer {
  width: 85px;
}